################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/TakeANumber/config
/.vs/TakeANumber/CopilotIndices/17.14.1641.39856
/.vs/TakeANumber/DesignTimeBuild
/.vs/TakeANumber/FileContentIndex
/.vs/TakeANumber/v17
/.vs/TakeANumberApi/v17
/.vs/TakeANumberApi/FileContentIndex
/.vs/TakeANumberApi/CopilotIndices/17.14.1641.39856
/.vs/TakeANumberApi/DesignTimeBuild/.dtbcache.v2
/.vs/slnx.sqlite
/TakeANumberShared/obj/Debug/net9.0
/TakeANumberClient/obj/Debug/net9.0
/TakeANumberClient/obj
/TakeANumberShared/obj
/TakeANumberClient/bin/Debug/net9.0
/TakeANumberShared/bin/Debug/net9.0
