################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TakeANumber/CopilotIndices/17.14.1584.41681
/.vs/TakeANumber/FileContentIndex
/.vs/TakeANumber/v17
/.vs
/bin/Debug/net9.0
/obj/Debug/net9.0/refint
/obj/Debug/net9.0/ref
/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/obj/Debug/net9.0/rpswa.dswa.cache.json
/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/obj/Debug/net9.0/staticwebassets.build.json
/obj/Debug/net9.0/staticwebassets.build.json.cache
/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/obj/Debug/net9.0/staticwebassets.removed.txt
/obj/Debug/net9.0/TakeANum.BB138320.Up2Date
/obj/Debug/net9.0/TakeANumber.AssemblyInfo.cs
/obj/Debug/net9.0/TakeANumber.AssemblyInfoInputs.cache
/obj/Debug/net9.0/TakeANumber.assets.cache
/obj/Debug/net9.0/TakeANumber.csproj.AssemblyReference.cache
/obj/Debug/net9.0/TakeANumber.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/TakeANumber.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/TakeANumber.dll
/obj/Debug/net9.0/TakeANumber.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/TakeANumber.genruntimeconfig.cache
/obj/Debug/net9.0/TakeANumber.GlobalUsings.g.cs
/obj/Debug/net9.0/TakeANumber.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net9.0/TakeANumber.pdb
/obj/Debug/net9.0/TakeANumber.sourcelink.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/TakeANumber.csproj.nuget.dgspec.json
/obj/TakeANumber.csproj.nuget.g.props
/obj/TakeANumber.csproj.nuget.g.targets
