################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/TakeANumber/config
/.vs/TakeANumber/CopilotIndices/17.14.1641.39856
/.vs/TakeANumber/DesignTimeBuild
/.vs/TakeANumber/FileContentIndex
/.vs/TakeANumber/v17
/.vs/TakeANumberApi/v17
/.vs/TakeANumberApi/FileContentIndex
/.vs/TakeANumberApi/CopilotIndices/17.14.1641.39856
/.vs/TakeANumberApi/DesignTimeBuild/.dtbcache.v2
/.vs/slnx.sqlite
/TakeANumberShared/obj/Debug/net9.0
/TakeANumberClient/obj/Debug/net9.0
/TakeANumberClient/obj
/TakeANumberShared/obj
/TakeANumberClient/bin/Debug/net9.0
/TakeANumberShared/bin/Debug/net9.0
/.vs/TakeANumber/copilot-chat/dff74346/sessions/2722e19c-b831-4ae5-8111-aa857a28f3ec
/.vs/TakeANumber/copilot-chat/dff74346/sessions
/.vs/CopilotSnapshots/E80A7BD59AF0C34489CD7FF7B06C41F3
